body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

/*Menu*/
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;  
}

.header{
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}

.logo{
  line-height: 100px;
  float:  left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 100px;
}

.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;
}

.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -111;
}

@media screen and (max-width:800px){
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#34495e;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;

  }

  .menu a{
    display: block;
    padding: 20px;
  }

  .hide-menu-btn{
     position: absolute;
     top: 40px;
     right: 40px;
  }

  #chk:checked ~ .menu{
    right:0;
  }
}
  
}
/*EndMenu*/

/*Parallax*/
.parallax-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.regular-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    background-image: url("../Img/img3.jpg");
}
.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("../Img/img3.jpg");
    position: absolute;
    z-index: -1;
}
/*EndParallax*/

/*Content*/

.pimg1, .pimg2, .pimg3, .pimg4, .regular-wrapper{
  position:relative;
  /*opacity:0.50;*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../Img/img1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../Img/img2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../Img/img1.jpg');
  min-height:400px;
}

.pimg4{
  background-image:url('../Img/image1.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#34495e;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}
